<h1>
  Add a new interest
</h1>

<hr>

<%= render("interest_templates/validation_failures.html.erb") %>

<form action="/insert_interest_record" method="post">
  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" value="<%= @interest.name %>">
  </div>

  <div>
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" value="<%= @interest.user_id %>">
  </div>

  <div>
    <label for="contact_id">
      Contact
    </label>

    <input type="text" id="contact_id" name="contact_id" value="<%= @membership.contact_id %>">
  </div>

  <button>
    Create interest
  </button>
</form>

<hr>

<a href="/interests">
  Go back
</a>
