<head>
  <title>Interest List</title>
</head>


<h1>
  Interest list
</h1>

<a href="/new_interest_form">
  Add a new interest
</a>

<hr>

<table class="table">
  <thead class="thead-dark">
  <tr>

    <th>
      Name
    </th>

    <th>
      Details
    </th>
  </tr>
  </thead>
  <% @interests.each do |interest| %>
  <tr>

    <td>
      <%= interest.name %>
    </td>

    <td>
      <a href="/interests/<%= interest.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>

<%= @interests.count %>