<head>
  <title>Home</title>
</head>

<br>

<h1>Welcome!</h1>

<hr>

<div class="container">
    <div class="row">
      <div class="col-sm-4 btn btn-outline-dark">
        <a href="/contacts">
          <i class="fas fa-users"></i>
          <br>
          All Contacts
        </a>
      </div>
      <div class="col-sm-4 btn btn-outline-dark">
        <a href="/interests">
          <i class="fas fa-fire fa-fw"></i>
          <br>
          All Interests
        </a>
      </div>
      <div class="col-sm-4 btn btn-outline-dark">
        <a href="/new_contact_form">
          <i class="fas fa-plus fa-fw"></i>
          <br>
          Add a new contact
        </a>
      </div>
    </div>
</div>